In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, inspect
from sqlalchemy import Table, Column, Integer, String, Float, DateTime, MetaData

In [2]:
# Create an engine for the  database

engine = create_engine("sqlite:///../data/data.sqlite", echo=False)
conn = engine.connect()

# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
meta = MetaData()

In [5]:
#- Read the csv file with the word counts
wordcnt_df = pd.read_csv('../data/word_cnt_test.csv')
wordcnt_df.head()

              word  cnt_word
0         flicka__     10339
1  realdonaldtrump     21820
2        president     20792
3              mar     16821
4             lago     15630

In [8]:
wordcnt_df.to_sql('word_counts', conn, if_exists='replace', index=False)