In [1]:
import pandas as pd

In [2]:
file = "../../../../tweet-training-data.csv"
data_df = pd.read_csv(file,encoding = "latin1", names=["sentiment","id", "date", "flag", "user","tweet"])
data_df['length'] = data_df['tweet'].str.split(" ").str.len()-1
data_df.head()

,sentiment,id,date,flag,user,tweet,length
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,21
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,18
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,10
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",21

In [3]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 7 columns):
sentiment    1600000 non-null int64
id           1600000 non-null int64
date         1600000 non-null object
flag         1600000 non-null object
user         1600000 non-null object
tweet        1600000 non-null object
length       1600000 non-null int64
dtypes: int64(3), object(4)
memory usage: 85.4+ MB

In [4]:
data_df.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [14]:
# import nltk

# nltk.download ('stopwords')
# nltk.download ('punkt')

# from nltk.tokenize import sent_tokenize
# tokenized_text=sent_tokenize(data_df["tweet"])
# print(tokenized_text)

# from nltk.tokenize import word_tokenize
# tokenized_word=word_tokenize(tokenized_text)
# print(tokenized_word)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
#tokenizer to remove unwanted elements from out data like symbols and numbers
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(lowercase=True,stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts= cv.fit_transform(data_df['tweet'])
text_counts

<1600000x656186 sparse matrix of type '<class 'numpy.int64'>'
	with 11959098 stored elements in Compressed Sparse Row format>

In [25]:
text_counts.shape

(1600000, 656186)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
text_tf= tf.fit_transform(data_df['tweet'])

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    text_counts, data_df['sentiment'], test_size=0.2, random_state=1)

In [11]:
from sklearn.naive_bayes import MultinomialNB
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
clf = MultinomialNB().fit(X_train, y_train)
predicted= clf.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))

MultinomialNB Accuracy: 0.770184375

In [23]:
text_counts.shape[0]

1600000

In [24]:
text_counts.getnnz()

11959098

In [19]:
import pickle
f = open('sentiment_classifier.pickle', 'wb')
pickle.dump(clf, f)
f.close()