In [1]:
import pandas as pd

In [4]:
file = "../../../../tweet-training-data.csv"
data_df = pd.read_csv(file,encoding = "latin1", names=["sentiment","id", "date", "flag", "user","tweet"])
data_df['length'] = data_df['tweet'].str.split(" ").str.len()-1
data_df.head()

,sentiment,id,date,flag,user,tweet,length
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,21
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,18
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,10
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",21

In [8]:
data_df[data_df['sentiment'] == 4]

,sentiment,id,date,flag,user,tweet,length
800000,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,I LOVE @Health4UandPets u guys r the best!!,8
800001,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight! ...,14
800002,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,"@DaRealSunisaKim Thanks for the Twitter add, S...",27
800003,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,Being sick can be really cheap when it hurts t...,21
800004,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,@LovesBrooklyn2 he has that effect on everyone,7
800005,4,1467822391,Mon Apr 06 22:22:47 PDT 2009,NO_QUERY,ajarofalmonds,@ProductOfFear You can tell him that I just bu...,25
800006,4,1467822447,Mon Apr 06 22:22:51 PDT 2009,NO_QUERY,vmdavinci,@r_keith_hill Thans for your response. Ihad al...,10
800007,4,1467822465,Mon Apr 06 22:22:48 PDT 2009,NO_QUERY,jessicavaliyi,"@KeepinUpWKris I am so jealous, hope you had a...",22
800008,4,1467822489,Mon Apr 06 22:22:49 PDT 2009,NO_QUERY,emmasaur28,"@tommcfly ah, congrats mr fletcher for finally...",9
800009,4,1467822496,Mon Apr 06 22:22:49 PDT 2009,NO_QUERY,SherylBreuker,@e4VoIP I RESPONDED Stupid cat is helping me ...,12
800010,4,1467822530,Mon Apr 06 22:22:49 PDT 2009,NO_QUERY,claaare,crazy day of school. there for 10 hours straii...,22
800011,4,1467822531,Mon Apr 06 22:22:49 PDT 2009,NO_QUERY,Hollywood_Trey,@naughtyhaughty HOW DID I FORGET ABOUT TWO AND...,15
800012,4,1467822635,Mon Apr 06 22:22:51 PDT 2009,NO_QUERY,JJLuver756,"@nileyjileyluver Haha, don't worry! You'll get...",10
800013,4,1467822729,Mon Apr 06 22:22:52 PDT 2009,NO_QUERY,tophatdog,@soundwav2010 At least I won't be the only one...,22
800014,4,1467822796,Mon Apr 06 22:22:53 PDT 2009,NO_QUERY,toothfairycyber,@LutheranLucciol Make sure you DM me if you po...,26
800015,4,1467822814,Mon Apr 06 22:22:54 PDT 2009,NO_QUERY,misstoriblack,Just added tweetie to my new iPhone,7
800016,4,1467822899,Mon Apr 06 22:22:58 PDT 2009,NO_QUERY,estariray,@michellardi i really don't know. i think its ...,23
800017,4,1467822924,Mon Apr 06 22:22:55 PDT 2009,NO_QUERY,ddjuli,@nicolerichie: your picture is very sweet,6
800018,4,1467822936,Mon Apr 06 22:22:57 PDT 2009,NO_QUERY,adamjackson,"Catching Up on Emails, RSS and Random BACN. Th...",20
800019,4,1467822964,Mon Apr 06 22:22:56 PDT 2009,NO_QUERY,lightleaves,"Dancing around the room in Pjs, jamming to my ...",16
800020,4,1467822994,Mon Apr 06 22:22:56 PDT 2009,NO_QUERY,sorano916,Didn't place in the Peeps contest but thanks f...,11
800021,4,1467823016,Mon Apr 06 22:22:57 PDT 2009,NO_QUERY,livelaughenjoy,Going to bed so goodnight everyone and sweet ...,11
800022,4,1467823046,Mon Apr 06 22:22:57 PDT 2009,NO_QUERY,rwang0,@LittleLumen walking over to put the deposit d...,9
800023,4,1467823079,Mon Apr 06 22:22:58 PDT 2009,NO_QUERY,oOLuciousLisaOo,"is now followinq @DAChesterFrench , you shud d...",10
800024,4,1467823109,Mon Apr 06 22:22:58 PDT 2009,NO_QUERY,mark_liu,@LordPov Are you meant to add on the back of t...,17
800025,4,1467823132,Mon Apr 06 22:22:58 PDT 2009,NO_QUERY,MissNikki22,Aw i'm holding my new puppy. Well He's not min...,14
800026,4,1467823216,Mon Apr 06 22:23:00 PDT 2009,NO_QUERY,anyyankeest,@iJohn kitteh is sleepin on my crotch which pr...,13
800027,4,1467823363,Mon Apr 06 22:23:02 PDT 2009,NO_QUERY,missmegs6,@DramaBeats agreed,2
800028,4,1467823405,Mon Apr 06 22:23:03 PDT 2009,NO_QUERY,gattermeier,reaching amritsar in an hour and (if i find a ...,20
800029,4,1467823594,Mon Apr 06 22:23:05 PDT 2009,NO_QUERY,ClareStewart,@ALBinLA. I was just thinking about you tonig...,25
...,...,...,...,...,...,...,...
1599970,4,2193578196,Tue Jun 16 08:38:54 PDT 2009,NO_QUERY,adbillingsley,Thanks @eastwestchic &amp; @wangyip Thanks! Th...,13
1599971,4,2193578237,Tue Jun 16 08:38:54 PDT 2009,NO_QUERY,gekkko,@marttn thanks Martin. not the most imaginativ...,13
1599972,4,2193578269,Tue Jun 16 08:38:54 PDT 2009,NO_QUERY,millerslab,@MikeJonesPhoto Congrats Mike Way to go!,6
1599973,4,2193578319,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,luckygeorgeblog,http://twitpic.com/7jp4n - OMG! Office Space.....,9
1599974,4,2193578345,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,Kristah_Diggs,@yrclndstnlvr ahaha nooo you were just away fr...,25
1599975,4,2193578347,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,CoachChic,"@BizCoachDeb Hey, I'm baack! And, thanks so m...",27
1599976,4,2193578348,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,serianna,"@mattycus Yeah, my conscience would be clear i...",10
1599977,4,2193578386,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,TeamUKskyvixen,@MayorDorisWolfe Thats my girl - dishing out t...,9
1599978,4,2193578395,Tue Jun 16 08:38:55 PDT 2009,NO_QUERY,LaurenMoo10,@shebbs123 i second that,4
1599979,4,2193578576,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,angel_sammy04,In the garden,3
1599980,4,2193578679,Tue Jun 16 08:38:56 PDT 2009,NO_QUERY,puchal_ek,@myheartandmind jo jen by nemuselo zrovna tÃ© ...,11
1599981,4,2193578716,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,youtubelatest,Another Commenting Contest! [;: Yay!!! http:/...,6
1599982,4,2193578739,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,Mandi_Davenport,@thrillmesoon i figured out how to see my twee...,26
1599983,4,2193578758,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,xoAurixo,"@oxhot theri tomorrow, drinking coffee, talkin...",18
1599984,4,2193578847,Tue Jun 16 08:38:57 PDT 2009,NO_QUERY,RobFoxKerr,You heard it here first -- We're having a girl...,20
1599985,4,2193578982,Tue Jun 16 08:38:58 PDT 2009,NO_QUERY,LISKFEST,"if ur the lead singer in a band, beware fallin...",19
1599986,4,2193579087,Tue Jun 16 08:38:58 PDT 2009,NO_QUERY,marhgil,@tarayqueen too much ads on my blog.,7
1599987,4,2193579092,Tue Jun 16 08:38:58 PDT 2009,NO_QUERY,cathriiin,@La_r_a NEVEER I think that you both will get...,14
1599988,4,2193579191,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,tellman,@Roy_Everitt ha- good job. that's right - we g...,22
1599989,4,2193579211,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,jazzstixx,@Ms_Hip_Hop im glad ur doing well,6
1599990,4,2193579249,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,razzberry5594,WOOOOO! Xbox is back,4
1599991,4,2193579284,Tue Jun 16 08:38:59 PDT 2009,NO_QUERY,AgustinaP,@rmedina @LaTati Mmmm That sounds absolutely ...,23
1599992,4,2193579434,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,sdancingsteph,ReCoVeRiNg FrOm ThE lOnG wEeKeNd,5
1599993,4,2193579477,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,ChloeAmisha,@SCOOBY_GRITBOYS,1
1599994,4,2193579489,Tue Jun 16 08:39:00 PDT 2009,NO_QUERY,EvolveTom,"@Cliff_Forster Yeah, that does work better tha...",27
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...,11
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,11
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,11
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,12
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,5

In [10]:
import findspark
findspark.init()

import pyspark

from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer
# Create all the features to the data set
pos_neg_to_num = StringIndexer(inputCol='sentiment',outputCol='label')
tokenizer = Tokenizer(inputCol="tweet", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="token_text", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

ValueError: Couldn't find Spark, make sure SPARK_HOME env is set or Spark is in an expected location (e.g. from homebrew installation).